# Python virtual environments
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# PyInstaller build artifacts
build/
dist/*
!dist/SpeechToText.exe

# Windows
*.log
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
